name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os }}"
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
        poetry-version: ["1.1.13"]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: abatilo/actions-poetry@v2.1.3
      with:
        poetry-version: ${{ matrix.poetry-version }}
    - name: Install
      run: poetry install
    - name: Run black & isort
      run: |
        poetry run black --diff --check squids
        poetry run isort --diff --check squids
        poetry run black --diff --check tests
        poetry run isort --diff --check tests
    - name: Run mypy
      run: poetry run mypy squids tests
    - name: Run Tests
      run: poetry run python -m unittest discover